 @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

 body {
   margin: 0;
   padding: 0;
   background: #e74c3c;
   font-family: 'Lato', sans-serif;
 }

.homebg-ground {
  padding: 205px 0;
background-color: #adf7d1;
/* background: radial-gradient(328px at 2.9% 15%, rgb(191, 224, 251) 0%, rgb(232, 233, 251) 25.8%, rgb(252, 239, 250) 50.8%, rgb(234, 251, 251) 77.6%, rgb(240, 251, 244) 100.7%); */
}

.headtext {
  font-size: 36px;
  font-weight: bold;
  color: salmon;
}

.nametext {
  font-size: 48px;
  font-weight: bold;
  color: salmon;
}

.underline {
  display: block;
  width: 50px;
  height: 4px;
  background-color: #007bff;
  margin-bottom: 20px;
}


.social-media-buttons {
  margin-top: 20px;
}

.social-media-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  outline: none;
  transition: all 0.3s ease;
  transform-origin: center;
  position: relative;
  margin-bottom: 25px;
}

/* Icon colors */
.github-color {
  color: #000000;
  font-size: 24px;
}

.linkedin-color {
  color: #0077B5;
  font-size: 24px;
}

.twitter-color {
  color: #1DA1F2;
  font-size: 24px;
}

.instagram-color {
  color: #E4405F;
  font-size: 24px;
}


.social-media-btn:hover .icon {
  transform: scale(1.2);
}

.social-media-btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Bouncing Animation on Hover */
.social-media-btn:hover:after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 50%;
  width: 8px;
  height: 8px;
  background-color: salmon;
  border-radius: 50%;
  animation: bounce 0.8s infinite;
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-20px);
  }

  60% {
    transform: translateY(-12px);
  }
}


.social-media-btn:active .icon {
  color: #fff;
 
}

.social-media-btn:active:after {
  background-color: #fff;
}

.view-resume-button {
  background-color: salmon;
  border-color: salmon;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 13px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  position: relative;
  margin-bottom: 15px;
}

.view-resume-button:hover {
  background-color: #ff4949;
  border-color: #ff4949;
  transform: scale(1.05);
}

.view-resume-button:focus {
  outline: none;
}


/* Developer Image */
.imagedeveloper {
  height: 400px;
  background-image: url('../../src/Assets/hello.gif');
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  transform-style: preserve-3d;
  transform: translateZ(-30px);
  transition: transform 0.5s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.imagedeveloper:hover {
  transform: translateZ(-40px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.homebg-ground,
.social-media-buttons,
.imagedeveloper {
  animation: fadeInUp 1s ease;
}

@media (max-width: 768px) {
  .nametext {
    font-size: 36px;
  }

  .social-media-buttons {
    margin-top: 10px;
  }

  .icon {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .imagedeveloper {
    height: 300px;
  }
}


.typewriter-container {
  font-size: 37px;
  color: #f76b8a;
}

.typewriter-btn {
  font-size: medium;
}

.typewriter-container button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #2ecc71;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.typewriter-container button:hover {
  background-color: #27ae60;
}


.nav-link {
  position: relative;
  color: #333;
  transition: color 0.3s ease-in-out;
}

.nav-link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: salmon !important;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s ease-in-out;
}

.nav-link:hover {
  color: salmon !important;
}

.nav-link:hover::before {
  transform: scaleX(1);
}

.sticky {
  /* background-color: white !important; */
  opacity: 0.9;
}


.navbar-toggler-icon span {
  display: block;
  width: 24px;
  height: 2px;
  margin: 4px 0;
  background-color: black !important;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.navbar-toggler-icon.open span:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}

.navbar-toggler-icon.open span:nth-child(2) {
  opacity: 0;
}

.navbar-toggler-icon.open span:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
}


/* Center navigation links when navbar is expanded (responsive) */
.responsive-navbar {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 0;
  opacity: 0;
  animation: expandNav 0.5s ease-in-out forwards;
  margin-bottom: 90px;
}

/* Add padding to each Nav item for better spacing */
.responsive-navbar .nav-item {
  padding: 1px 0;
}

@keyframes expandNav {
  from {
    max-height: 0;
    opacity: 0;
  }

  to {
    max-height: 1000px;
    opacity: 1;
  }
}


.aboutpagebackground {
  /* background-color:#f0d9da; */
  /* background: linear-gradient(109.6deg, rgb(255, 221, 225) 11.2%, rgb(255, 255, 255) 92.2%); */
  background: linear-gradient(88.8deg, rgb(239, 171, 245) 13.4%, rgb(196, 181, 249) 76.3%);
  padding: 190px 0;
}


.textbackground {
  background-color: #fff;
  border-radius: 8px;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.aboutmetext {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.aboutmetext span {
  color: #007bff;
}


.aboutdetails {
  font-size: 16px;
  color: #555;
  line-height: 1.8;
}

/* Aboutpage.css */


 .skilllist {
  margin-top: 20px;
  font-size: 16px;
}

.skilllist h3 {
  font-size: 22px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.icon-html {
  color: #e34c26;
}

.icon-css {
  color: #2965f1;
}

.icon-js {
  color: #f0db4f;
}

.icon-bootstrap {
  color: #7952b3;
}

.icon-react {
  color: #61dafb;
}

.icon-node {
  color: #68a063;
}

.icon-mongodb {
  color: #47a248;
}

.icon-mysql {
  color: #00758f; 
}


 .skilllist li {
  font-size: 25px;
  list-style: none;
  margin-bottom: 5px;
  color: #555;
  cursor: pointer;
  transition: color 0.3s ease;
} 

.skilllist li:hover .icon-html,
.skilllist li:hover .icon-css,
.skilllist li:hover .icon-js,
.skilllist li:hover .icon-bootstrap,
.skilllist li:hover .icon-react,
.skilllist li:hover .icon-node,
.skilllist li:hover .icon-mongodb,
.skilllist li:hover .icon-mysql {
  transition: color 0.3s ease;
  color: inherit;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.skilllist li {
  animation: fadeIn 0.5s ease;
}

.webimage {
  height: 300px;
  background-image: url('../Assets/mern.jpg');
  background-color: #007bff;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


@media (max-width: 767px) {
  .textbackground {
    padding: 20px;
  }
} 

/* Project Cards */


.projectbackground {
  
  width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #ee9ca7 0%, #ffdde1 100%);
}

.dash-section {
  position: relative !important;
  padding-top: 10px !important;
}

 .card-card {
  padding-top: 20px;
  padding-bottom: 50px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  height: 630px !important;
}


.card-text {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card-card-view {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px !important;
  color: black!important;
  background-color: transparent !important;
  border: transparent;
  opacity: 0.9 !important;
  transition: all 0.5s ease 0s !important;
  height: 100% !important;
  border-radius: 15px;
}

.card-card-view:hover {
  transform: scale(1.02) !important;
  overflow: hidden !important;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px !important;
}

.card-img-top {
  padding: 20px !important;
  opacity: 0.8 !important;
  border-radius: 10px !important;
}

 .viewbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  letter-spacing: 1px;
  font-family: 'Poppins';
}

.btn-primary {
  color: #191919 !important;
  background-color: transparent !important;
  border-color: #191919 !important;
}

.btn-primary:hover {
  color: #e8e8e8 !important;
  background-color: transparent !important;
  border-color: #e8e8e8 !important;
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.card-card {
  margin: 20px;
}

.card {
  margin-top: 90px;
  height: 90%;
  display: flex;
  flex-direction: column;
  border: 1px solid #ee9ca7;
  border-radius: 7px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffdde1;
}

.card-img {
  height: 200px;
  object-fit: cover;
}

.card-body {
  flex: 1;
}

.card-title {
  font-size: 1.55rem;

  margin-bottom: 50px;

}

.card-text {
  flex-grow: 1;
  margin-bottom: 10px;

}

.d-flex.justify-content-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;

}

.card-card .btn.btn-outline-success {
  background-color: transparent;
  color: #198754;
  border: 2px solid #198754;
}

.card-card .btn.btn-outline-success:hover {
  background-color: #198754;
  color: #ffffff;
}

@media (max-width: 767px) {
  .dash-section {
    padding-top: 40px !important;
  }
}  


/* Contact section */

.contactbg {
  background-color: #ffd6a4;
  padding: 190px 0;
}


.contacthead {
  font-size: 32px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

/* Contact section paragraph */
.contactparagraph {
  font-size: 16px;
  color: #555;
  text-align: center;
  line-height: 1.8;
}

.contactbtn {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 50px;
  border: yellow solid 1px;
  background-color: transparent;
  letter-spacing: 2px;
  position: relative;
  overflow: hidden;
}

.contactbtn::before,
.contactbtn::after {
  box-sizing: inherit;
  position: absolute;
  content: '';
  border: 2px solid transparent;
  width: 0;
  height: 0;
}

.contactbtn::before {
  top: 0;
  left: 0;
}

.contactbtn::after {
  bottom: 0;
  right: 0;
}

.contactbtn:hover::before,
.contactbtn:hover::after {
  width: 100%;
  height: 100%;
}

.contactbtn:hover::before {
  border-top-color: yellow;
  border-right-color: yellow;
  transition: width 0.9s ease-out, height 0.9s ease-out 0.9s;
}

.contactbtn:hover::after {
  border-bottom-color: yellow;
  border-left-color: yellow;
  transition: border-color 0s ease-out 0.6s, width 0.3s ease-out 0.6s, height 0.3s ease-out 1s;
}

/* Button pulsing animation */
@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

/* Apply pulsing animation to the button every 2 seconds */
.contactbtn.pulse-animation {
  animation: pulse 2s infinite;
}

/* Text animation */
@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Apply slide-in animation to the contact heading */
.contacthead {
  animation: slideInFromLeft 1s ease;
}

/* Apply slide-in animation to the contact paragraph */
.contactparagraph {
  animation: slideInFromLeft 1s ease 0.2s;
}

/* Apply slide-in animation to the location icon and copyright text */
.gr-location-pin,
span {
  animation: slideInFromLeft 1s ease 0.4s;
}

/* Apply slide-in animation to the button */
.contactbtn {
  animation: slideInFromLeft 1s ease 0.6s;
}

/* Fade-in Animation for the contact section */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.contactbg .container {
  animation: fadeIn 0.5s ease;
  /* Apply fade-in animation for the contact section */
}

/* Horizontal Line */
.line {
  border: 1px solid black;
  margin: 40px 0;
}

/* Copyright text */
.copyright {
  font-size: 19px;
  color: #777;
  text-align: center;
}

/* Hover effect for @Anand */
span:hover {
  color: #007bff;
  /* Blue color on hover */
  cursor: pointer;
  transition: color 0.3s ease;
}

/* Fade-in Animation for the contact section */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.contactbg .container {
  animation: fadeIn 0.5s ease;
}



/* education */

 .education-section {
  background-color: #e0ffcd;
   padding: 50px 0;
 }

 .timeline-element {
   background: #ffffff;
   color: #333;
   border-radius: 8px;
   padding: 20px;
   box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
   transition: transform 0.3s, box-shadow 0.3s;
 }

 .vertical-timeline-element-content:hover {
   transform: translateY(-5px);
   box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
 }

 .vertical-timeline-element-date {
   font-size: 1.1rem;
   color: #666;
   margin-bottom: 0.5rem;

 }

.vertical-timeline-element-title {
  font-size: 20px;
  margin: 0;
  color: #333;
  text-transform: uppercase;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
  display: inline-block;
  position: relative;
  transition: background-color 0.3s ease-in-out;
}

.vertical-timeline-element-title:hover {
  background-color: #3498db;
  color: #fff;
}

.vertical-timeline-element-title::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #3498db;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

.vertical-timeline-element-title:hover::after {
  transform: scaleX(1);
}

.vertical-timeline-element-subtitle {
  font-size: 16px;
  margin: 5px 0;
  color: #666;
  font-style: italic;
  color: #888;
  transition: color 0.3s ease-in-out;
}

.vertical-timeline-element-subtitle:hover {
  color: #3498db;
}

.vertical-timeline-element-content {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out;
}

.vertical-timeline-element:hover .vertical-timeline-element-content {
  background-color: #f2f2f2;
}

.gpa {
  font-size: 0.8rem;
  color: #999;
  margin-top: 0.2rem;
 
}


.timeline-container {
  padding: 2rem;
  background-color: #f5f5f5;
  border-radius: 10px;
 
}

.vertical-timeline-element-icon:hover {
  transform: scale(1.2);
  transition: background-color 0.3s ease-in-out;
  background-color: #1abc9c !important;
 
}



@media (max-width: 768px) {
  .vertical-timeline-element-title {
    font-size: 1.2rem;
  }

  .vertical-timeline-element-subtitle {
    font-size: 0.9rem;
  }

  .gpa {
    font-size: 0.7rem;
  }
}


.vertical-timeline-element-title:hover,
.vertical-timeline-element-subtitle:hover {
  color: #ff9900;
}


.gpa {
  display: inline-block;
  padding: 0.2rem 0.5rem;
  background-color: #ff9900;
  color: #fff;
  border-radius: 5px;
}


 .left-effect .vertical-timeline-element-content {
   border-right: 4px solid #1abc9c;
 }

 .right-effect .vertical-timeline-element-content {
   border-left: 4px solid #3498db;
 } 



 .skilllist {
   list-style: none;
   padding: 0;
 }

 .skilllist li {
   margin-bottom: 10px;
   display: flex;
   align-items: center;
   font-size: 16px;
 }

 .icon-html,
 .icon-css,
 .icon-js,
 .icon-bootstrap,
 .icon-react,
 .icon-node,
 .icon-mongodb,
 .icon-mysql {
   margin-right: 10px;
 }

 /* Add styles for the animation classes */
 .animated {
   animation-fill-mode: both;
 }

 /* Define the bounceInLeft animation */
 @keyframes bounceInLeft {

   0%,
   60%,
   75%,
   90%,
   100% {
     animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
   }

   0% {
     opacity: 0;
     transform: translate3d(-3000px, 0, 0);
   }

   60% {
     opacity: 1;
     transform: translate3d(25px, 0, 0);
   }

   75% {
     transform: translate3d(-10px, 0, 0);
   }

   90% {
     transform: translate3d(5px, 0, 0);
   }

   100% {
     transform: none;
   }
 }

 /* Define the bounceInRight animation */
 @keyframes bounceInRight {

   0%,
   60%,
   75%,
   90%,
   100% {
     animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
   }

   0% {
     opacity: 0;
     transform: translate3d(3000px, 0, 0);
   }

   60% {
     opacity: 1;
     transform: translate3d(-25px, 0, 0);
   }

   75% {
     transform: translate3d(10px, 0, 0);
   }

   90% {
     transform: translate3d(-5px, 0, 0);
   }

   100% {
     transform: none;
   }
 }








