/* Apply the cursor styles to the entire page */
html,
body,
#root {
  height: 100%;
}

body {
  cursor: none;
}

.cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
}


.App {
  background-color: #e0ffcd; 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 576px) {
  .Home h1 {
    font-size: 4rem;
  }

  .Home p {
    font-size: 1.75rem;
  }

  .About p {
    font-size: 1.75rem;
    max-width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .About {
    flex-direction: row;
    justify-content: space-between;
  }
}