@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

body {
  font-family: "Raleway", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
}
html {
  scroll-behavior: auto;
  cursor: pointer;
}
* {
  margin: 0;
  padding: 0;
  cursor: pointer;
  }

@media (max-width: 767px) {
  .cursor{
    display: block;
  }
}
